
/* Home
   ========================================================================== */

.post-preview {
  @extend %post;
  .post-preview-img {
    position: relative;
    .post-preview-img-inner {
      display: block;
      position: relative;
    }
    .post-preview-label {
      @extend %post_label;
      background-color: $black_49;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }
  &:hover {
      box-shadow: 0 0 6px 2px #ddd;
  }
  .post-preview-heading {
    @extend %post_head;
  }
  .post-preview-detail {
	padding-top: 20px;
	margin-top: 8px;
	border-top: 1px $color_md_light solid;
	font-size: 12px;
  }
  .post-preview-price-container {
    overflow: auto;
   
    .listing-owner-img {
      width: 70px;
    }
    .listing-price {
      float: right;
      padding-left: 0;
    }
  }
  .post-preview-content {
    padding: 0 20px 20px;
  }
  > a {
    text-decoration: none;
  }
}


.listing-price {
  font-size: 20px;
  font-weight: bold;
  color: $black;
  .small {
    color: $color_body;
    font-weight: normal;
    font-size: 12px;
    line-height: 3.0;
    vertical-align: top;
  }
}

.post-preview-label {
  .glyphicon {
    font-size: 16px;
    line-height: normal;
  }
  .glyphicon:hover {
    color: $color_primary;
  }
  .glyphicon-star {
    color: $color_primary;
  }
}

.post-rating {
  font-size: 17px;
  font-weight: bold;
}