
/* Responsive
   ========================================================================== */
@media (max-width: 768px) {
    .navbar-brand {
        height: 60px;
        margin: 0;
        padding: 6px 20px;
    }
    .navbar-brand img {
        max-height: 40px;
    }
    .navbar-toggle {
        margin-top: 14px;
    }
    .navbar-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}