//colors
$color_body: #696969;
$color_md_light: #dcddde;
$color_light: #f8f8f8;


$color_primary: #5cb85c;
$color_primary_border: #4cae4c; 

$color_secondary: #449d44;
$color_secondary_border: #398439;

$white: #fff;
$white_50: rgba(255, 255, 255, 0.5);


$black: #000;
$black_49: rgba(0, 0, 0, 0.49);

//fonts
$font_0: Roboto;
$font_1: sans-serif;
$font_2: FontAwesome;